<div class="astronaut-stats">
      <h2>Astronaut Stats: <%@astronaut.each do |astronaut|%>
        <%=astronaut.name%>
        <%=astronaut.age%>
        <%=astronaut.job%>
        <%end%>
      </h2></nr>
    </div>
  </div>
</div>
